{% extends "base.html" %}
{% block content %}
<h2 class="text-xl text-center">Products</h2>

<div class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-4 gap-3">
    {% for product in products %}
    <div class="bg-white rounded-lg shadow-lg h-[420px] md:h-[440px] relative">
        <a href="{% url 'product_detail' product.id %}" class-"flex flex-cols items-center justify-center w-[180px]">
            <img src="{{ product.main_image.url }}" alt="{{ product.name }}" class="aspect-ratio-3/4 h-[300px] ">
            <h3 class="text-gray-700 text-xs px-2 line-clamp-3 md:text-sm">{{ product.name }}</h3>
            <p class="font-semibold text-black mt-1 px-2 text-sm md:text-lg">Rs.{{ product.price }}</p>
        </a>

        {% if request.user.is_authenticated %}
        <div class="absolute bottom-0 w-full bg-green-700 text-white flex justify-evenly items-center">
            <button class="bg-green-500 px-3 py-1 text-lg font-bold rounded" data-id="{{ product.id }}">-</button>
            <span id="product-quantity-{{ product.id }}">
                {% if cart_quantities.product.id %}
                    {{ cart_quantities.product.id }}
                {% else %}
                    0
                {% endif %}
            </span>
            <button class="bg-green-500 px-3 py-1 text-lg font-bold rounded" data-id="{{ product.id }}">+</button>
        </div>
        {% else %}
            <a href="{% url 'login' %}" class="bg-blue-600 w-full text-white px-2 py-1 text-sm rounded absolute bottom-0 text-center">
                Login to Add
            </a>
        {% endif %}
    </div>
    {% endfor %}
</div>


{% endblock %}
